<% var item, key %>

<% htmlWebpackPlugin.options.appMountIds = htmlWebpackPlugin.options.appMountIds || [] %>
<% htmlWebpackPlugin.options.lang = htmlWebpackPlugin.options.lang || "en" %>
<% htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %>
<% htmlWebpackPlugin.options.meta = htmlWebpackPlugin.options.meta || [] %>
<% htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || [] %>

<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" <% if (htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <% if (htmlWebpackPlugin.options.baseHref) { %>
    <base href="<%= htmlWebpackPlugin.options.baseHref %>">
    <% } %>

    <% if (Array.isArray(htmlWebpackPlugin.options.meta)) { %>
      <% for (item of htmlWebpackPlugin.options.meta) { %>
      <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
      <% } %>
    <% } %>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon">
    <% } %>

    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>

    <% for (item of htmlWebpackPlugin.options.links) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
    <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
    <% } %>

    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
    <style type="text/css">
:root {
  --bg-color: #fff;
  --color: #000;
  --invert-bg-color: #333;
  --invert-color: #bbb;
  --link-color: #11bfa5;
  --header-height: 3rem;
  --card-header-bg: #ddd;
  --color-alt: #666;
  --layout-max-width: 850px;
  /* ------------ */
  font-size: 13px;
  line-height: 1.618;
}
@media screen and (min-width: 600px) {
  :root {
    font-size: calc(13px  +  6  * ((100vw -  600px ) / 300 ));
  }
}
@media screen and (min-width: 900px) {
  :root {
    font-size: 20px;
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 10vh 0 0 0;
  overflow: auto;
}

a,
a:link,
a:visited {
  color: var(--link-color, #11bfa5);
  text-decoration: none;
  text-shadow: -2px 0 1px var(--bg-color, #fff),
               2px 0 1px var(--bg-color, #fff),
               -2px 0 0 var(--bg-color, #fff),
               2px 0 0 var(--bg-color, #fff),
               -1px 0 1px var(--bg-color, #fff),
               1px 0 1px var(--bg-color, #fff),
               -1px 0 0 var(--bg-color, #fff),
               1px 0 0 var(--bg-color, #fff);
  box-shadow: 0 0 0 0 var(--bg-color, #fff) inset,
              0 0 0 0 var(--bg-color, #fff) inset;
  transition: box-shadow 0.218s ease;
}
a:hover {
  box-shadow: 0 -2px 0 0 var(--bg-color, #fff) inset,
              0 -3px 0 0 currentColor inset;
}

h1, h2, h3 {
  font-weight: 100;
}
body > header {
  width: 100%;
}

body {
  background-image: url(./static/header-bg-l.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}
/*
@media screen and (min-width: 600px) {
  body {
    background-image: url(./static/header-bg-l.jpg);
  }
}
*/
@media screen and (min-width: 900px) {
  body {
    background-image: url(./static/header-bg-xl.jpg);
  }
}

body > header {
  display: none;
}

body > header > img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 50vh;
}

body > section {
  background-color: var(--bg-color, #fff);
}

body > section {
  margin-top: 25vh;
  overflow: auto;
}
body > section:first-of-type {
  margin-top: 0;
}
body > section:before {
  display: block;
  content: '';
}

body > section > header,
body > section > main,
body > section > footer,
body > footer > nav {
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width, 850px);
}

body > section:before:first-of-type {
  display: none;
}

body > footer {
  font-size: 0.8rem;
  background-color: var(--bg-color, #fff);
  margin-top: 10vh;
}

body > footer ul {
  text-align: center;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > footer li {
  display: inline-block;
}


dt:after {
  margin-top: 2em;
  content: ':';
  display: inline;
}
dd {
  margin-bottom: 2em;
}

dd > ul {
  margin-top: 0;
  padding-left: 0;
  list-style-position: outside;
}


.note {
  color: var(--color-alt, #666);
  font-size: 0.75em;
}





.x-rows,
.x-columns,
.x-r-rows,
.x-r-columns {
  display: flex;
}
.x-columns {
  flex-direction: row;
}
.x-r-columns {
  flex-direction: row-reverse;
}
.x-r-rows {
  flex-direction: column-reverse;
}
.x-shrink {
  flex-shrink: 2;
}
.x-shrink-l {
  flex-shrink: 3;
}
.x-shrink-xl {
  flex-shrink: 4;
}
.x-grow {
  flex-grow: 2;
}
.x-grow-l {
  flex-grow: 3;
}
.x-grow-xl {
  flex-grow: 4;
}


#hello main {
  display: flex;
  flex-wrap: wrap;
}
#hello main > div {
  width: 100%;
}
@media screen and (min-width: 600px) {
  #hello main > div {
    font-size: 0.85em;
    width: calc(50% - 1rem);
    margin: 1rem;
  }
  #hello main > div:nth-child(2n+1) {
    margin-left: 0;
  }
  #hello main > div:nth-child(2n+0) {
    margin-right: 0;
  }
}

    </style>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <style>.unsupported-browser { display: none; }</style>
    <div class="unsupported-browser">
      Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this
      site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.
    </div>
    <% } %>







    <header>
      <img class="page-badge" title="Valentin Vago - Web Craftsman - Backend &amp; Frontend"  src="./static/v-vago.svg"/>
    </header>






    <div id="root"></div>






    <section id="hello">
      <header data-event="Birth"
              data-date="1981-02-09T00:00:00Z"
              data-location="Montreux"
              data-coords="46.4461397,6.8807008">
        <h1>Hello, my name is Valentin Vago.</h1>
      </header>

      <main>
        <div>
          <h2>About</h2>

          <dl>
            <dt>From</dt>
            <dd>Montreux, Switzerland</dd>

            <dt>Born</dt>
            <dd>1981</dd>

            <dt>Languages</dt>
            <dd>
              <ul>
                <li>
                  French (native language)
                </li>
                <li>
                  English, spoken, written
                </li>
                <li>
                  German, spoken, written
                </li>
              </ul>
            </dd>

            <dt>Contact</dt>
            <dd>
              <ul>
                <li>
                  v.vago@irata.ch
                </li>
                <li>
                  On many networks like on <a href="https://twitter.com/zeropaper">Twitter</a>, <a href="https://github.com/zeropaper">GitHub</a>, <a href="https://stackoverflow.com/users/662964/zeropaper">StackOverflow</a> as "zeropaper" or <span title="Not Valentino, not Valentine; Valentin">Valentin</span> Vago on <a href="https://www.linkedin.com/in/vvago/">LinkedIn</a>.
                </li>
            </dd>

            <dt>Interests</dt>
            <dd>
              <ul>
                <li>Digital sustainability</li>
                <li>Minimal yet crafted designs</li>
                <li>Well designed APIs</li>
                <li>Experiment and prototyping</li>
                <li>Data</li>
                <li>Creative coding and VJing</li>
                <li>Equity</li>
              </ul>
            </dd>
          </dl>
        </div>

        <div>
          <h2>Timeline</h2>

          <dl>
            <dt data-event="Technical drawer"
                data-date="1997-08-01T00:00:00Z 2000-10-01T00:00:00Z"
                data-location="Lausanne"
                data-coords="46.5284586,6.5824557">1997 - 2000</dt>
            <dd>
              Technical drawer in architecture
              <div class="note">Started working with 3ds Max, ArchiCAD, Photoshop</div>
            </dd>

            <dt data-event="Multimedia conceptor studies"
                data-date="2001-08-01T00:00:00Z 2005-02-01T00:00:00Z"
                data-location="Fribourg"
                data-coords="46.8031637,7.1422554">2000 - 2005</dt>
            <dd>
              <ul>
                <li>
                  Studying multimedia conception at EMAF
                  <div class="note">
                    École de multimedia et d'art de Fribourg (now <a href="https://eikon.ch">eikon</a>), Switzerland. Studied topics like communication theories, art history, graphic &amp; web design, color theories or typography.</div>
                </li>
                <li>
                  Started VJing and wrote my first VJing software
                  <div class="note">https://en.wikipedia.org/wiki/VJing</div>
                </li>
              </ul>
            </dd>

            <dt data-event="Internship at Mediagonal"
                data-date="2005-02-01T00:00:00Z 2005-06-01T00:00:00Z"
                data-location="Fribourg"
                data-coords="46.8031637,7.1422554">2005</dt>
            <dd>
              Internship at Mediagonal (now <a href="https://www.liip.ch/en">Liip</a>), Fribourg, Switzerland
              <div class="note">
                Worked on Dockbook XML implementation in Bitflux WYSIWYG editor<br/>
                Gained good skills working with JavaScript, XSL, CSS, PHP<br/>
                Started working on Linux
              </div>
            </dd>

            <dt data-event="Move to Berlin"
                data-date="2005-07-01T00:00:00Z"
                data-location="Berlin"
                data-coords="52.5067614,13.2846512">2005 - 2006</dt>
            <dd>
              <ul>
                <li>
                  Moved to Berlin
                </li>
                <li>
                  (re-)learn German
                </li>
              </ul>
            </dd>

            <dt data-event="Freelancer"
                data-date="2006-01-01T00:00:00Z 2013-04-01T00:00:00Z"
                data-location="Berlin"
                data-coords="52.5067614,13.2846512">2006 - 2013</dt>
            <dd>Freelance web developer</dd>

            <dt data-event="Frontend dev at myDriver"
                data-date="2013-04-01T00:00:00Z 2014-01-01T00:00:00Z"
                data-location="Berlin"
                data-coords="52.5067614,13.2846512">2013 - 2014</dt>
            <dd>Frontend developer at <a href="https://mydriver.com/">myDriver.com</a></dd>

            <dt data-event="Core UI dev at Camunda"
                data-date="2014-01-01T00:00:00Z 2017-03-01T00:00:00Z"
                data-location="Berlin"
                data-coords="52.5067614,13.2846512">2014 - 2017</dt>
            <dd>Core UI developer at <a href="https://camunda.org/">Camunda services GmbH</a></dd>

            <dt data-event="Lecturer at Devugees"
                data-date="2017-06-01T00:00:00Z 2017-10-01T00:00:00Z"
                data-location="Berlin"
                data-coords="52.5067614,13.2846512">2017</dt>
            <dd>Lecturer at devugees.org</dd>
          </dl>
        </div>

        <div>
          <h2>Skills</h2>

          <dl>
            <dt>Frontend</dt>
            <dd>SASS / Less (CSS), JavaScript, HTML, Grunt.js, Webpack 2</dd>

            <dt>Backend</dt>
            <dd>Bash, Apache2, PHP, MySQL</dd>

            <dt>Team Work</dt>
            <dd>GIT, SVN, Scrum</dd>

            <dt>CMS</dt>
            <dd><a href="https://drupal.org/">Drupal</a>, <a href="https://wordpress.org/">Wordpress</a></dd>

            <dt>Operating Systems</dt>
            <dd>Linux, OSX, Windows (in order of preference)</dd>
          </dl>
        </div>

        <div>
          <h2>Some Works</h2>

          <dl>
            <dt>TinyBee</dt>
            <dd>
              SMS surveying tool for researches on alcohol and drugs use.
              <div class="note">Based on <a href="https://drupal.org/">Drupal</a> and Clickatell 2 ways SMS API.</div>
            </dd>

            <dt>RESET.to</dt>
            <dd>Donation platform based on <a href="https://drupal.org/">Drupal</a>.</dd>

            <dt>Nitro USA Snowboard</dt>
            <dd>Worldwide multilangual corporate sites.
              <div class="note">Including Raiden Bindings and L1 Outerwear) for seasons 2010-2011 and 2011-2012.</div>
            </dd>

            <dt>At Camunda</dt>
            <dd>
              <ul>
                <li>
                  <a href="https://camunda.github.io/camunda-commons-ui/">Camunda Commons UI</a>
                  <div class="note">Angular.js widgets and CSS framework based on Bootstrap</div>
                </li>
                <li>
                  <a href="https://blog.camunda.org">Camunda Blog</a>
                  <div class="note">Corporate blog build with <a href="http://gohugo.io/">Hugo</a> static site generator.</div>
                </li>
                <li>
                  <a href="https://docs.camunda.org">Camunda Docs</a>
                  <div class="note">Software documentation build with <a href="http://gohugo.io/">Hugo</a> static site generator.</div>
                </li>
              </ul>
            </dd>
          </dl>
        </div>

        <div>
          <h2>Pet Projects</h2>

          <dl>
            <dt>Visual Fiha</dt>
            <dd>
              Open-source, zero install, MIDI and Live Coding capable, browser based VJing software.<br/>
              <div class="note">
                <a href="https://zeropaper.github.io/visual-fiha">Give it a try</a>
              </div>
            </dd>
          </dl>
        </div>
      </main>
    </section>

    <% /*
    <section id="zeropaper">
      <header>
        <h1>zeropaper</h1>
      </header>
      <main>
        <p>Born in Switzerland in 1981, studied technical drawing and multimedia conception at émaf (now <a href="http://www.eikon.ch/">EIKON</a>, Fribourg) and now since more than 10 years in Berlin. I am the original author of the <a href="https://zeropaper.github.io/visual-fiha">Visual Fiha</a> VJing software.</p>

        <p>My first contact with computers, in the early 90's, happened as they didn't had mouses or graphical user interfaces. I first learned how to use a computer with a keyboard only and this still is my favorite way to interact them.<br>
        I discovered 3D threw learning technical drawing in the late 90's. It's also during that period that I went for the first times to drum &amp; bass parties. It's the off-beat which rhythm my life.</p>
        <p>In the early 2000's, the multimedia studies in Fribourg led me to show some of my the 3D clips I did at <a href="http://fri-son.ch/">Fri-Son</a>.<br>
        I quickly got interested in mixing those clips with minimalist vector designs and wrote a Flash based software for that.<br>
        From that period until the end of my studies, I have been performing with international DJs and producers.</p>
        <p>I moved to Berlin in 2005 to focus myself on web development and worked as freelancer in that field during several years before I joined an open-source software company.</p>
        <p>In October 2016 the surge for creation took over and I decided to write a new software. Although they're VJing softwares nowadays, even running on Linux, this new software is aimed to fit the best my needs when I perform.<br>
        I released Visual Fiha under open-source license and used it live for the first time in December 2016.</p>

        <!--<iframe width="650" height="366" src="https://www.youtube.com/embed/4NYj7u51WRA" frameborder="0" allowfullscreen=""></iframe>-->
      </main>
    </section>
    */ %>

    <% /*
    <section id="training">
      <header>
        <h1>Training</h1>
      </header>
    </section>
    */ %>

    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://github.com/zeropaper/zeropaper.github.io">fork this</a>
          </li>
        </ul>
      </nav>
    </footer>

    <% if (htmlWebpackPlugin.options.window) { %>
    <script type="text/javascript">
      <% for (key in htmlWebpackPlugin.options.window) { %>
      window['<%= key %>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[key]) %>;
      <% } %>
    </script>
    <% } %>

    <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
        <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
    <% } %>

    <% for (item of htmlWebpackPlugin.options.scripts) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
    <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
    <% } %>

    <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;

      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>

      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
    <% } %>
  </body>
</html>